body {
    height: fit-content !important;
    background-color: whitesmoke;
    margin: 10px 10px 0 10px;
}
body > div > *{
    margin: 0 10px;
}
*::-webkit-scrollbar {
    width: 10px;
}
*{
    /* Retirando a habilidade de selecionar textos */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

/*Quadro de alertas*/
#containerAlertas{
    position: relative;
    display: flex;
    flex-direction: column;
}

#iconQuadroAlertas{
    transition: 500ms;
    animation-duration: 2250ms;
    cursor: pointer;
    margin: 0 5px;
    color: #005eff;
    animation-iteration-count: infinite;
}
#iconQuadroAlertas:hover{
    opacity: 0.6;
}
.iconQuadroAberto{
    position: relative;
    color: whitesmoke;
    background-color: #001A46;
    padding: 5px;
    border-radius: 25%;
    z-index: 10;
    opacity: 1 !important;
}
@keyframes girar{
    0% {transform: rotate(0deg);}
    25% {transform: rotate(200deg);}
    50% {transform: rotate(360deg);}
    50.1% {transform: rotate(0deg);}
    75% {transform: rotate(200deg);}
    100% {transform: rotate(360deg);}
}

#contadorAlerta{
    display: none;
    position: absolute;
    top: -7px;
    right: -5px;
    z-index: 15;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: red;
    margin: 0px;
    padding: 0 5px;
    border-radius: 100%;
}

#quadroDeAlertas{
    margin: 0;
    list-style: none;
    position: absolute;
    z-index: 5;
    display: none;
    flex-direction: column;
    background-color: #001A46;
    box-shadow: 0 0 0 1px rgba(128, 128, 128, 0.506);
    padding: 10px;
    border-radius: 0.25rem;
    overflow-y: scroll;
    max-height: 75vh;
    right: 0px;
}
#quadroDeAlertas li{
    color: whitesmoke;
    cursor: pointer;
    border-radius: 0.25rem;
    margin: 5px;
    padding: 10px;
    font-size: 1em !important;
    width: 250px;
    transition: 1s;
    font-weight: bold;
    animation-duration: 500ms;
}
@keyframes sumir{
    from {transform: scale(1,1);opacity: 1;}
    to {transform: scale(0,0);opacity: 0;}
}

.alertaAberto{
    height: fit-content !important;
    box-shadow: 0px 0px 0px 5px rgba(156,156,156,1);
}
.alertaAberto p{
    white-space: initial;
}

#quadroDeAlertas span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#quadroDeAlertas h4{
    margin: 0;
    font-weight: bolder;
}
#quadroDeAlertas i{
    animation-duration: 500ms;
    animation-iteration-count: 1;
}
@keyframes rodar{
    0% {transform: rotate(0deg);}
    99% {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}

#quadroDeAlertas p{
    margin: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

/* Barra lateral */
#accordionSidebar {
    border-radius: 15px;
    height: 570px;
    background-color: #005EFF;
}

.nav-link{
    padding: 15px !important;
}

.nav-profile .nav-link{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    cursor: default;
}
.nav-profile .nav-link a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.nav-profile img{
    width: 25%;
}
.nav-profile .nav-link{
    margin: 0px;
    padding: 0px !important;
}

.nav-interrogacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 14rem;
    margin: 10px 0;
}
.imgInterrog {
    display: flex;
    height: 25px;
    transform-style: preserve-3d;
    transition: all 0.5s;
    cursor: pointer;
    color: #f1f1f1;
    border: solid 1px white;
    border-radius: 100%;
    padding: 10px 10px 25px 10px;
}
.imgInterrog:hover {
    transform: rotateY(360deg);
}

.modalBtn {
    border: 0;
    all: unset;
    outline: revert;
}


.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);

    -webkit-animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	animation: scale-in 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.modal .content {
    background-color: #f1f1f1;
    margin: 15% auto; 
    padding: 20px;
    border-radius: 5px;
    height: 11rem;
    width: 70%; 
    justify-content: space-around;

    display: flex;
    flex-direction: row;
    align-items: center;
    

}

@media only screen and (max-width: 600px) {
    .modal {
      min-height: 100vh;
      width: 100vw;
      margin: 0;
      border-radius: 0;
    }
  }

@keyframes scale-in {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}

.jira {
    transition: all 0.5s ease-out;
}

.jira:hover {
    transform: scale(1.1);
}

.imgJira {
    height: 100px;
    width: 315px;
}

.slack {
    transition: all 0.5s ease-out;
}

.slack:hover {
    transform: scale(1.1);
}


.imgSlack {
    height: 100px;
    width: 315px;
}



/* Conteúdo principal */
#content-wrapper{
    height: 590px;
}

#content {
    background-color: #001A46;
    border-radius: 15px;
}

.nomePagina {
    margin: 0px;
    margin-top: 15px;
    color: white;
}

@media screen and (max-width: 450px) {
    .sidebar {
        width: 14.5rem;
        position: absolute;
        z-index: 1;
    }

    #accordionSidebar {
        margin: 80px 40px 80px 0px;
        height: 552px;
    }

    #wrapper {
        display: block;
    }

    .sidebar span {
        display: flex;
        justify-content: center;
    }

    .sidebar .nav-item .nav-link {
        padding: 1.75rem 5rem;
        width: 14.5rem;
    }

    #content {
        padding: 15px;
    }

    #wrapper #content-wrapper #content {
        margin: 20px 20px 0px 20px;
    }

    *::-webkit-scrollbar {
        width: 10px;
        
    }
}

@media screen and (max-width: 426px) {
    #accordionSidebar {
        margin: 90px 40px 80px 0px;
        height: 515px;
    }
}

.tag{
    background-color: black;
    font-weight: 700;
    padding: 7.5px 5px;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    cursor: default;
    transition: 500ms;
    line-height: 1;
    user-select: none;
}
.corEscura{
    border: solid 2px #4d4d4d;
    color: #4d4d4d;
}

.tag u{
    font-size: 1.2em;
}
.tag input{
    margin-right: 2.5px;
    pointer-events: none;
}

.tagClicavel:hover{
    transform: scale(1.15);
}