.container-fluid > span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    width: 100%;
}
.container-fluid > span h3{
    margin: 0px;
}

.containerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.containerForm span{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: whitesmoke;
    margin: 10px 0;
    width: 250px;
}
.containerForm label{
    font-size: 1.2em;
    text-align: justify;
}
.containerForm input, .containerForm select{
    border-radius: 10rem;
    border: 1px solid #858796;
    padding: 0.5rem 1rem;
    background-color: #001A46;
    color: whitesmoke;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    align-self: center;
}
.containerForm input:focus, .containerForm select:focus{
    border: none;
    box-shadow: 0 0 5px whitesmoke;
}
.containerForm button{
    align-self: center;
    background-color: #2e59d9;
    color: white;
    border-radius: 10rem;
    padding: 10px 20px;
    border: none;
    margin: 10px 0;
}