#content{
    background: whitesmoke;
    color: #001a46 !important;
}

.container-fluid > span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    width: 100%;
}
.container-fluid > span > span > *{
    margin: 0px;
    color: #001a46;
}
#pesquisaData{
    background: none;
    border: none;
    color: #005eff;
}
.kpis{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.kpis > div{
    width: 200px;
    height: 200px;
    background-color: #001a46;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-radius: 0.5rem;
    padding: 20px;
    margin: 10px;
    color: whitesmoke;
}

.kpis span{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 20%;
}
.kpis h3{
    margin: 0;
    font-size: 18px;
    height: 45px;
}
.kpis i{
    font-size: 65px;
    margin-left: 10px;
}

.kpis p{
    margin: 0;
}
.valorKPI{
    font-size: 38px;
    line-height: 0.8;
}

.containerGraficos{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

.grafico{
    width: 45%;
    height: 50vh;
    background-color: lightgrey;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #001a46;
}
.grafico ~ h3{
    width: 45%;
    align-self: flex-start;
    overflow-wrap: break-word;
}
.grafico canvas{
    border: solid 1px #001a46;
    border-width: 0 0 1px 1px;
    width: 100%;
    height: 100%;
}