.container-fluid > span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin: 15px 0;
    width: 100%;
}
.container-fluid > span h3{
    margin: 0px;
}
.container-fluid > span div{
    margin-top: 15px;
}

.kpis{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.kpis > div{
    width: 190px;
    height: 150px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-radius: 0.25rem;
    padding: 20px;
    margin: 10px;
    color: #001a46;
}

.kpis span{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 20%;
}
.kpis h3{
    margin: 0;
    font-size: 18px;
    height: 45px;
}
.kpis svg{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.kpis p{
    margin: 0;
}
.valorKPI{
    font-size: 38px;
    line-height: 0.8;
}

.containerGraficos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.grafico{
    width: 45%;
    height: 50vh;
    background-color: whitesmoke;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #001a46;
}
.grafico h3{
    align-self: flex-start;
}
.grafico canvas{
    border: solid 1px gray;
    border-radius: 0.25rem;
    width: 100%;
    height: 100%;
}