@keyframes aparecer{
    0% { transform: scale(0,0); }
    50% { transform: scale(1,1); }
    80% { transform: scale(0.95,0.95); }
    100% { transform: scale(1,1); }
}
@keyframes sumir{
    from {transform: scale(1,1);opacity: 1;}
    to {transform: scale(0,0);opacity: 0;}
}

.modalServ{
    display: none;
    border-radius: 0.25rem;
}

#modalCadFunc{
    display: none;
    flex-direction: column;
    background-color: #001a46;
    width: 35vw;
    padding: 35px;
    justify-content: center;
    border-radius: 0.25rem;
    color: #ffff;
}

#modalCadFunc header {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

#modalCadFunc i {
    right: 50px;
    top: 35px;
    color: #005eff;
    cursor: pointer;
    margin-left: 10px;
}

#modalCadFunc h3, #modalCadFunc i {
    margin: 0;
}

/*#containerModal*/
#containerModal{
    display: none;
    position: absolute;
    top: 0;
    z-index: 20;
    left: -10px;
    width: 100vw;
    height: 100vh;
    background: rgba(140, 140, 140, 0.5);
    backdrop-filter: blur(2px);
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#containerModal i:hover{
    opacity: 0.6;
}

/*.modalServ*/
#modalDashboard{
    width: 80vw;
    height: fit-content;
    border-radius: 0.25rem;
    overflow-y: scroll;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

#modalDashboard header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#modalDashboard iframe{
    height: 100%;
}

#modalDashboard i{
    position: absolute;
    right: 50px;
    top: 35px;
    color: #005eff;
    cursor: pointer;
    transition: 500ms;
}
#modalDashboard i:hover{
    opacity: 0.6;
}

#modalCadastro {
    align-items: center;
    flex-direction: column;
    width: 40vw;
    background-color: #001a46;
    padding: 20px 50px;
}

#modalCadastro > header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#modalCadastro > header > *{
    margin: 0px 5px;
}
#modalCadastro i{
    color: #005eff;
    cursor: pointer;
    transition: 500ms;
}

#modalCadastro > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    border-radius: 0.25rem;
    border: solid 1px whitesmoke;
    width: fit-content;
    margin: 10px 0;
}

#modalCadastro input {
    background: none;
    padding: 5px 10px;
    border: solid 1px whitesmoke;
    border-width: 0 1px 0 0;
    color: whitesmoke;
    background-color: rgba(128, 128, 128, 0.200);
    margin: 0px;
    width: 10vw;
    min-width: 85px;
    text-align: center;
}

#modalCadFunc header {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

#modalCadFunc {
    display: none;
    flex-direction: column;
    background-color: #001a46;
    width: 35vw;
    padding: 35px;
    justify-content: center;
    border-radius: 0.25rem;
    color: #ffff;
}

#modalCadFunc i {
    right: 50px;
    top: 35px;
    color: #005eff;
    cursor: pointer;
    margin-left: 10px;
}

#modalCadFunc h3, #modalCadFunc i {
    margin: 0;
}

#modalSolic {
    background-color: #001a46;
    color: white;
    border-radius: .35rem;
    display: none;
    flex-direction: column;
    padding: 15px;
    width: 65vw;
    height: 80vh;
    overflow-y: scroll;
    list-style: none;
}

#modalSolic header{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}
#modalSolic i {
    cursor: pointer;
    color: #005eff;
}
#modalSolic h3, #modalSolic i {
    margin: 0;
}
#container-funcionarios-solicitacao{
    background-color: white;
    height: 80vh;
    border-radius: 0.35rem;
}
.containerVazio{
    padding: 0px;
    color: #001a46;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inputFunc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#inputFunc input {
    width: 100%;
}

#inputFunc p {
    padding: 5px 0;
    width: 100%;
}

#btnCadastrar {
    background-color: #005eff;
    color: whitesmoke;
    border: none;
    border-radius: 0.25rem;
    padding: 5px 10px;
    width: fit-content;
}


#modalEditFunc{
    display: none;
    width: 80vw;
    height: fit-content;
    border-radius: 0.25rem;
    overflow-y: scroll;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

#modalEditFunc header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#modalEditFunc iframe{
    height: 100%;
}

#modalEditFunc i{
    position: absolute;
    right: 80px;
    top: 35px;
    color: #005eff;
    cursor: pointer;
    transition: 500ms;
}
#modalEditFunc i:hover{
    opacity: 0.6;
}