.header-servidores{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}
.header-servidores h3{
    margin: 0;
}
.header-servidores > span{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40%;
}
.header-servidores button{
    background-color: #005eff;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 5px;
}
.header-servidores > span > span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: .35rem;
    background-color: whitesmoke;
}
.header-servidores input{
    border: none;
    padding: 5px;
    background-color: inherit;
    border-radius: inherit;
}
.header-servidores svg{
    cursor: pointer;
    margin: 0 5px;
}

#container-servidores{
    background-color: whitesmoke;
    border-radius: .35rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    height: 80vh;
    overflow-y: scroll;
}

.container-vazio{
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: default;
    background-image: url("../../assets/img/dashboard/folhas.png");
    background-size: 25%;
    background-position: center;
    background-repeat: no-repeat;
}
.container-vazio p{
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 0.25rem;
    color: black;
    padding: 10px 0;
}

.servidor{
    width: 230px;
    height: 100px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    background-color: #005eff;
    color: white;
    margin: 10px;
    border-radius: 20px;
    padding: 0 5px;
}
.servidor img{
    height: 80%;
}
.servidor span{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    padding-top: 15px;
}
.servidor h3, .servidor p{
    margin: 0px;
}
.servidor p{
    font-size: 70%;
    font-style: italic;
}

#containerModal{
    display: none;
    position: absolute;
    top: 0;
    z-index: 2;
    left: -10px;
    width: 100vw;
    height: 100vh;
    background: rgba(140, 140, 140, 0.5);
    backdrop-filter: blur(2px);
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalServ{
    width: 80vw;
    height: fit-content;
    background-color: #001a46;
    border-radius: 0.25rem;
    padding: 20px 50px;
    overflow-y: scroll;
    display: none;
    flex-direction: column;
}
.modalServ header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.modalServ header i{
    cursor: pointer;
    color: whitesmoke;
    transition: 500ms;
}
.modalServ header i:hover{
    color: #858792;
}
.modalServ h3{
    margin-top: 0;
}

.kpis{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.kpis > div{
    width: 190px;
    height: 150px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-radius: 0.25rem;
    padding: 20px;
    margin: 10px 0;
    color: #001a46;
}

.kpis span{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 20%;
}
.kpis h3{
    margin: 0;
    font-size: 18px;
    height: 45px;
}
.kpis svg{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.kpis p{
    margin: 0;
}
.valorKPI{
    font-size: 38px;
    line-height: 0.8;
}

.containerGraficos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grafico{
    width: 458px;
    height: 50vh;
    background-color: whitesmoke;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #001a46;
}
.grafico h3{
    align-self: flex-start;
}
.grafico canvas{
    border: solid 1px gray;
    border-radius: 0.25rem;
    width: 100%;
    height: 100%;
}