.header-servidores{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}
.header-servidores h3{
    margin: 0;
}
.header-servidores > span{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.header-servidores button{
    background-color: #005eff;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 5px;
}

.header-servidores > span > span:first-child{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 290px;
}
.header-servidores > span > span:first-child p{
    margin: 0;
    font-style: italic;
}
.header-servidores > span > span:first-child i{
    color: #7d8788;
}

.header-servidores > span > span:last-child{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: .35rem;
    background-color: whitesmoke;
}
.header-servidores input{
    border: none;
    padding: 5px;
    background-color: inherit;
    border-radius: inherit;
}
.header-servidores i{
    cursor: pointer;
    margin: 0 5px;
    color: #005eff;
    animation-iteration-count: infinite;
}

#container-servidores{
    background-color: whitesmoke;
    border-radius: .35rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    height: 80vh;
    overflow-y: scroll;
}

.container-vazio{
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: default;
    background-image: url("../../assets/img/dashboard/folhas.png");
    background-size: 25%;
    background-position: center;
    background-repeat: no-repeat;
}
.container-vazio p{
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 0.25rem;
    color: black;
    padding: 10px 0;
}

.servidor{
    width: 230px;
    height: 100px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    background-color: #005eff;
    color: white;
    margin: 10px;
    border-radius: 20px;
    padding: 0 5px;
}
.servidor img{
    height: 80%;
}
.servidor span{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    padding-top: 15px;
}
.servidor h3, .servidor p{
    margin: 0px;
}
.servidor p{
    font-size: 70%;
    font-style: italic;
}

#btnRegenerarCodigo{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: none;
    border: none;
    color: whitesmoke;
}
#btnRegenerarCodigo > *{
    margin: 0 5px;
}
#btnCadastrar{
    background-color: #005eff;
    color: whitesmoke;
    border: none;
    border-radius: 0.25rem;
    padding: 5px;
}