.header-servidores{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}
.header-servidores h3{
    margin: 0;
}
.header-servidores > span{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40%;
}
.header-servidores button{
    background-color: #005eff;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 5px;
}
.header-servidores > span > span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: .35rem;
    background-color: whitesmoke;
}
.header-servidores input{
    border: none;
    padding: 5px;
    background-color: inherit;
    border-radius: inherit;
}
.header-servidores svg{
    cursor: pointer;
    margin: 0 5px;
}

#container-servidores{
    background-color: whitesmoke;
    border-radius: .35rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    height: 80vh;
    overflow-y: scroll;
}

.servidor{
    width: 230px;
    height: 100px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    background-color: #005eff;
    color: white;
    margin: 10px;
    border-radius: 20px;
    padding: 0 5px;
}
.servidor img{
    height: 80%;
}
.servidor span{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    padding-top: 15px;
}
.servidor h3, .servidor p{
    margin: 0px;
}
.servidor p{
    font-size: 70%;
    font-style: italic;
}