#content-wrapper{
    margin: 0px;
}
#content{
    background-color: initial;
}

.container-fluid{
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container-fluid > div{
    background-color: #001A46;
    border-radius: 15px;
}

#kpisTags{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 570px;
    width: 20%;
    background: none;
}
#kpisTags > div{
    background-color: #001A46;
    border-radius: inherit;
    display: inherit;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 10px 20px;
}
#kpisTags > div > h3{
    text-align: center;
    font-weight: 700;
    line-height: 0.9;
    font-size: 26px;
}
#kpisTags button{
    border-radius: inherit;
    border: none;
    background-color: #005eff;
    color: white;
    font-size: 22px;
    line-height: 1;
    padding: 10px 20px;
    transition: 500ms;
}
#kpisTags button:hover{
    opacity: 0.8;
}

#containerTags{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 20px;
    width: 30%;
}
#containerTags h3{
    font-weight: 700;
    text-align: center;
}

#cabecalhoTags{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
#cabecalhoTags > *{
    margin-bottom: 10px;
}

#spanBuscarTag{
    background-color: white;
    height: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
    width: 100%;
}
#iptNomeTag{
    border: none;
    border-radius: inherit;
    color: inherit;
    height: 100%;
    padding: 0 10px;
}
#spanBuscarTag > i{
    color: #005eff;
    margin: 0px 10px;
    cursor: pointer;
    transition: 500ms;
}
#spanBuscarTag > i:hover{
    color: #001A46;
}

#cabecalhoTags > span:last-child{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#cabecalhoTags > span:last-child button{
    border: none;
    border-radius: 10px;
    background-color: #005eff;
    color: inherit;
    font-weight: 700;
    padding: 5px 10px;
    font-size: 18px;
}

#containerSeletorTags{
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
#containerSeletorTags > div{
    padding: 5px 10px;
}

#filtroSeletorTags{
    border-radius: 10px 10px 0px 0px;
    color: #001A46;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    background-color: whitesmoke;
}
#filtroSeletorTags > span{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#filtroSeletorTags > span > h4{
    margin: 0px;
}
#filtroSeletorTags > span > i{
    margin: 0px 5px;
}

#filtroSeletorTags > span:last-child{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#filtroSeletorTags > span:last-child > i{
    color: #005eff;
    transition: 500ms;
    cursor: pointer;
}
#filtroSeletorTags > span:last-child > i:hover{
    color: #001A46;    
}

#containerResultadosBuscaTags{
    height: 280px;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#containerResultadosBuscaTags > *{
    margin: 0px 5px;
    cursor: pointer;
}

#rodapeSeletorTags{
    border-radius: 0px 0px 10px 10px;
    background-color: whitesmoke;
    color: #001A46;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#rodapeSeletorTags p{
    margin: 0px;
}

#frameTags{
    width: 40vw;
}

#containerModal{
    display: none;
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(140, 140, 140, 0.5);
    backdrop-filter: blur(2px);
    left: -10px;
    top: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#containerModal div{
    display: none;
    background-color: #001A46;
    border-radius: 0.25rem;
    padding: 10px 20px;
}

#containerModal header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
}
#containerModal header > span{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#containerModal header h3{
    font-weight: bold;
    width: fit-content;
}
#containerModal header > span > *{
    margin: 0px 5px;
}

#containerModal header > i{
    color: #005eff;
    cursor: pointer;
    transition: 500ms;
}
#containerModal header > i:hover{
    opacity: 0.4;
}

#containerModal button{
    border-radius: 0.25rem;
    background-color: #005eff;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    border: none;
    padding: 0px 10px;
}

#modalHistorico{
    width: 50vw;
}

@keyframes aparecer{
    0% { transform: scale(0,0); }
    50% { transform: scale(1,1); }
    80% { transform: scale(0.95,0.95); }
    100% { transform: scale(1,1); }
}
@keyframes sumir{
    from {transform: scale(1,1);opacity: 1;}
    to {transform: scale(0,0);opacity: 0;}
}