.header-funcionarios{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}
.header-funcionarios h3{
    margin: 0;
}
.header-funcionarios > span{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
}
.header-funcionarios button{
    background-color: #005eff;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 5px;
}

.header-funcionarios > span > span:first-child{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 290px;
}
.header-funcionarios > span > span:first-child p{
    margin: 0;
    font-style: italic;
}
.header-funcionarios > span > span:first-child i{
    cursor: pointer;
    margin: 0 5px;
    color: #7d8788;
    animation-iteration-count: infinite;
}

.header-funcionarios > span > span:last-child{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: .35rem;
    background-color: whitesmoke;
}
.header-funcionarios input{
    border: none;
    padding: 5px;
    background-color: inherit;
    border-radius: inherit;
}
.header-funcionarios svg{
    cursor: pointer;
    margin: 0 5px;
}

#container-funcionarios{
    background-color: whitesmoke;
    border-radius: .35rem;
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 80vh;
    overflow-y: scroll;
    list-style: none;
}

.funcionario{
    height: 12vh;
    width: 100%;
    background-color: rgb(173, 189, 195);
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #001a46;
    justify-content: space-between;
    cursor: default;
}
.funcionario:nth-child(even){
    background-color: inherit;
}
.funcionario span{
    height: 100%;
    display: flex;
    flex-direction: inherit;
    align-items: center;
}
.funcionario > span > *{
    margin: 0 10px;
}
.funcionario span img{
    height: 70%;
}
.funcionario > span > span{
    flex-direction: column;
    justify-content: center;
}
.funcionario p{
    margin: 0px;
}
.funcionario b{
    font-size: 1.5em;
}
.funcionario button{
    background-color: #005eff;
    border-radius: 0.25rem;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.funcionario svg{
    width: 16px;
    height: 16px;
    object-fit: contain;
}