body {
    background-color: whitesmoke;
    margin: 10px;
}
body > div > *{
    margin: 10px;
}
*::-webkit-scrollbar {
    width: 10px;
}

/* Barra lateral */
#accordionSidebar {
    border-radius: 15px;
    height: 560px;
    background-color: #005EFF;
}

.nav-profile .nav-link{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px !important;
    cursor: default;
}
.nav-profile .nav-link a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.nav-profile img{
    width: 25%;
    /* height: 24px; */
}

/* Conteúdo principal */
#content-wrapper{
    height: 560px;
}

#content {
    background-color: #001A46;
    border-radius: 15px;
}

.nomePagina {
    margin: 0px;
    margin-top: 15px;
    color: white;
}

@media screen and (max-width: 450px) {
    .sidebar {
        width: 14.5rem;
        position: absolute;
        z-index: 1;
    }

    #accordionSidebar {
        margin: 80px 40px 80px 0px;
        height: 552px;
    }

    #wrapper {
        display: block;
    }

    .sidebar span {
        display: flex;
        justify-content: center;
    }

    .sidebar .nav-item .nav-link {
        padding: 1.75rem 5rem;
        width: 14.5rem;
    }

    #content {
        padding: 15px;
    }

    #wrapper #content-wrapper #content {
        margin: 20px 20px 0px 20px;
    }

    *::-webkit-scrollbar {
        width: 10px;
        
    }
}

@media screen and (max-width: 426px) {
    #accordionSidebar {
        margin: 90px 40px 80px 0px;
        height: 515px;
    }
}