@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600&display=swap');

body {
    margin: 0px;
}


#sobreNosContainer {
    width: 100%;
    height: 645px;
    background-color: #005EFF;
    display: flex;
    margin: 0;
}

#sobreNos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
    margin-left: 20px;
}

/* Inicio estilização textos do Sobre Nós */
#containerEsquerdoSobreNos {
    padding-left: 70px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    justify-content: space-around;
    height: 500px;
}

#sobreNosContainer {
    margin: 0;
    color: white;
    font-size: 25px;
    font-family: 'League Spartan', sans-serif;
}

#sublinhadoSobreNos {
    width: 155px;
    height: 6px;
    background-color: white;
    border-radius: 15px;
}

#textoSobreNos {
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
}

.div_Titulo {
    display: flex;
    width: 45%;
    justify-content: flex-end;
    flex-direction: column;
}

.div_Titulo span {
    font-size: 50px;
    font-family: League Spartan;
}

svg {
    margin-bottom: -10px;
}

#textoSobreNos span {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: League Spartan;
    color: white;
    font-size: 25px;
}

.containerDireitoSobreNos {
    padding-left: 100px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-end;
    justify-content: space-between;
    height: 600px;
}

.imgBola {
    width: 470px;
    height: 300px;
}

.imgPata {
    width: 260px;
    height: 170px;
}

/* Final estilização textos do Sobre Nós */

/* começo do footer  */

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 120px;
    position: relative;
    background-color: black;
}

.divLogoFooter {
    width: 33%;
    display: flex;
    justify-content: flex-start;

}

.divCentro {
    width: 33%;
    height: 65%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.divCentro span {
    font-size: 11px;
    font-family: Inter;

}

.divRedesSociais {
    width: 33%;
    display: flex;
    justify-content: flex-end;


}

.redeSocial {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
}

.divRedesSociais img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.divRedesSociais img:hover {
    transform: scale(1.1);
}

.divCentro img {
    height: 37px;
    width: 37px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.divCentro img:hover {
    transform: scale(1.2);
}

footer span {
    font-size: 25px;
    color: white;
    font-family: Sedgwick Ave Display;
}

.p11 {
    font-size: 8px;
}

.p22 {
    font-size: 14px;
}

.p33 {
    font-size: 10px;
}

.imgLogoFoter {
    width: 130px;
    height: 74px;
}

.divNome2 {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.divNome2 span {
    font-family: Raleway;

}

@media screen and (max-width: 900px) {
    .divCentro span {
        font-size: 9px;
    }

    .p11 {
        font-size: 7px;
    }

    .p22 {
        font-size: 13px;
    }

    .p33 {
        font-size: 9px;
    }

    .divCentro img {
        height: 35px;
        width: 35px;
    }

    .imgLogoFoter {
        width: 115px;
        height: 57px;
    }

    .divCentro span {
        display: none;
    }

}


@media screen and (max-width: 450px) {
    .divCentro span {
        display: none;
    }

    .divRedesSociais {
        justify-content: center;
    }


    .p11 {
        font-size: 5px;
    }

    .p22 {
        font-size: 11px;
    }

    .p33 {
        font-size: 7px;
    }

    .divCentro img {
        height: 33px;
        width: 33px;
    }

    .imgLogoFoter {
        width: 100px;
        height: 45px;
    }
}

@media screen and (max-width: 450px) {
    .divCentro span {
        display: none;
    }

    .divRedesSociais {
        justify-content: center;
    }

    .divRedesSociais img {
        width: 25px;
        height: 25px;
    }


    .divCentro img {
        height: 28px;
        width: 28px;
    }

    .imgLogoFoter {
        width: 90px;
        height: 40px;
    }

    .divNome2 {
        display: none;
    }
}


/* Media query */
@media screen and (max-width: 1140px) {
    /* MAX WIDTH = TELA MENORES QUE ALGUMA RESOLUÇÂO */
    /* modos - screen, print, speech, all */

    .div_Titulo span {
        font-size: 35px;
    }

    #sublinhadoSobreNos {
        width: 115px;
        height: 5.5px;

    }

    .span {
        font-size: 23px;
    }

}

@media screen and (max-width: 980px) {


    .div_Titulo span {
        font-size: 30px;
    }

    #sublinhadoSobreNos {
        width: 100px;
        height: 4.5px;

    }

    .span {
        font-size: 20px;
    }


    .imgBola {
        width: 420px;
        height: 265px;
    }

    .imgPata {
        width: 220px;
        height: 140px;
    }

}

@media screen and (max-width: 880px) {


    .div_Titulo span {
        font-size: 25px;
    }

    #sublinhadoSobreNos {
        width: 85px;
        height: 4px;

    }

    .span {
        font-size: 18px;
    }


    .imgBola {
        width: 370px;
        height: 215px;
    }

    .imgPata {
        width: 210px;
        height: 125px;
    }



}

@media screen and (max-width: 790px) {


    .div_Titulo span {
        font-size: 22px;
    }

    #sublinhadoSobreNos {
        width: 70px;
        height: 3.5px;

    }

    .span {
        font-size: 16px;
    }


    .imgBola {
        width: 350px;
        height: 200px;
    }

    .imgPata {
        width: 210px;
        height: 125px;
    }



}

@media screen and (max-width: 735px) {


    .div_Titulo span {
        font-size: 18px;
    }

    #sublinhadoSobreNos {
        width: 60px;
        height: 3px;

    }

    .span {
        font-size: 14px;
    }


    .imgBola {
        width: 315px;
        height: 175px;
    }

    .imgPata {
        width: 190px;
        height: 105px;
    }



}

@media screen and (max-width: 660px) {


    .imgBola {
        width: 285px;
        height: 150px;
    }

    .imgPata {
        width: 175px;
        height: 85px;
    }





}


@media screen and (max-width: 630px) {


    .containerDireitoSN {
        padding-left: 50px;
    }

    .div_Titulo span {
        font-size: 13px;
    }

    #sublinhadoSobreNos {
        width: 35px;
        height: 2.5px;

    }

    .span {
        font-size: 12px;
    }


    .imgBola {
        width: 300px;
        height: 150px;
    }

    .imgPata {
        width: 170px;
        height: 85px;
    }


}


@media screen and (max-width: 595px) {

    .div_Titulo span {
        font-size: 20px;
    }

    #sublinhadoSobreNos {
        width: 60px;
        height: 4px;

    }

    .span {
        font-size: 15px;
    }


    .containerEsquerdoSN {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
    }

    .containerDireitoSN {
        display: none;
    }


    .containerDireitoSN {
        padding-left: 50px;
    }

    .imgBola {
        display: none;
    }

    .imgPata {
        display: none;
    }


}


@media screen and (max-width: 320px) {

    .div_Titulo span {
        font-size: 14px;
    }

    .sobreNosContainer {
        width: 98%;
    }

    #sublinhadoSobreNos {
        width: 45px;
        height: 2.5px;

    }

    .span {
        font-size: 13px;
    }


    .containerEsquerdoSN {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
    }

    .containerDireitoSN {
        display: none;
    }


    .containerDireitoSN {
        padding-left: 50px;
    }

    .imgBola {
        display: none;
    }

    .imgPata {
        display: none;
    }


}